<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-<%= nameKebabCase %>">
  {# <script type="application/json">{{ jsonData|json_encode }}</script> #}
  <div class="container centerMaxWidthContainer">
    <h1>Component: <%= namePretty %></h1>
  </div>
</div>
