$rupture.scale = lookup('$globalLayoutScale') || (0 400px 800px 1200px)
$rupture.anti-overlap = lookup('$globalLayoutOverlap') || -1px
$gutterWidth = lookup('$globalLayoutGutterWidth') || 1.5
$containerPadding = lookup('$globalLayoutContainerPadding') || 15px
$containerMaxWidth = lookup('$globalLayoutContainerMaxWidth') || 1140px

.flyntComponent[is="flynt-<%= nameKebabCase %>"]
  *,
  *:before,
  *:after
    box-sizing: border-box
